<!-- modal na přidání tagu -->
<div class="modal fade" id="addTagFormModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Přidat tag</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {{ form_start(formAddTag) }}
                {{ form_widget(formAddTag) }}
                {{ form_end(formAddTag) }}
            </div>
        </div>
    </div>
</div>

<script>
   // form_tags
</script>