html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

nav .btn-custom-dropdown {
    border: 1px solid #27292b;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.form_tags label {

}

.form_tags input {

}
.nonfluid {
    width: auto !important;
}

.cursor_pointer {
    cursor: pointer;
}

/* filters */
.tag-filter-item, .type-filter-item {
    cursor: pointer;
}
.type-filter-item {
    margin-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #373A3C;
    color: white;
    text-align: center;
}
#searchclear {
    position: absolute;
    right: 8px;
    top: 3px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.hidden {
    display:none;
}

#menuList .hidden {
    display: block;
}
#menuList .hidden_tag {
    display: block;
}
#menuList .hidden_type {
    display: block;
}

.hidden_tag {
    display:none;
}
.hidden_type {
    display:none;
}
/* end filters */


.scrolling-block {
    width: 30px;
}

.scrolling-block i {
    position:sticky;
    text-align: center;
}

.trash i {
    font-size: 30px;
}

.scrolling-block {
    float: left;
}
.center-content {
    width: fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}

.center-content table {
    margin-left: auto;
    margin-right: auto;
}

.center-content h2 ,.center-content p {
    text-align: center;
}