{% extends 'base.html.twig' %}
{% block title %}Historie menu{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h1>Historie menu</h1>
    {% for week in history %}
        <a href="{{ week.url }}" style="color: black">
            <div class="mb-3">
                <h4 class="history_date">{{ week.date }}</h4>
                <table class="table">
                    <tr>
                        {% for day in week.table.days %}
                                    <th>
                                        {{ day }}
                                    </th>
                        {% endfor %}
                    </tr>
                    {% for meals in week.table.meals %}
                        <tr>
                            {% for meal in meals %}
                                {% if meal != null %}
                                    {% for meal2 in meal %}
                                        <td>
                                            {{ meal2.name }}
                                        </td>
                                    {% endfor %}
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </a>
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}