{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}

    <h1>Vítejte v aplikaci pro tvorbu meníček</h1>
    <h2>K čemu aplikace slouží</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis gravida nulla. In dapibus augue non sapien. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Aenean id metus id velit ullamcorper pulvinar.</p>
    <h2>Pro koho je aplikace určena</h2>
    <p>Proin mattis lacinia justo. Duis condimentum augue id magna semper rutrum. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce wisi. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    <h2>Kolik vás to bude stát</h2>
    <p>Etiam bibendum elit eget erat. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Nunc auctor. Phasellus et lorem id felis nonummy placerat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Phasellus faucibus molestie nisl.</p>
    <h2>Jak začít</h2>
    <p>Nullam faucibus mi quis velit. Praesent id justo in neque elementum ultrices. Proin mattis lacinia justo. Pellentesque ipsum. Nulla non lectus sed nisl molestie malesuada. Integer pellentesque quam vel velit. Curabitur vitae diam non enim vestibulum interdum. Duis viverra diam non justo. In convallis. Et harum quidem rerum facilis est et expedita distinctio. Nullam at arcu a est sollicitudin euismod.</p>

{% endblock %}
{% block javascripts %}{% endblock %}