{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}

    <h1>Vítejte v aplikaci pro tvorbu meníček</h1>
    <h2>K čemu aplikace slouží</h2>
    <p>Aplikace slouží především restauracím, které se každý týden moří s tvořením týdenních menu.
    Po importu jídel, které k tvorbě menu používáte stačí jen jednoduše seskládat menu a vygenerovat si ho ve všech formátech,
        které používáte.</p>

    <h2>Jak aplikace funguje</h2>
    <p>Do aplikace si naimportujete svá jídla, ty je třeba rozdělit podle typů a příslušně otagovat. Není to nutné, ale
    při tvorbě menu to pomáhá vyhledávat jednotlivé pokrmy. Poté si sestavíte menu přesunutím jídel do chlívečků. Nyní
    stačí menu vygenerovat do předem připravené šablony. Tou je dokument ve wordu ve speciálním formátu, který potom
    aplikace přetvoří do příslušné podoby. Výhodou šablony ve Wordu je jednoduché a uživatelsky přívětivé editování.
        Nově registrovaní uživatelé mají pár šablon předpřipravených.</p>

    <h2>Kolik vás to bude stát</h2>
    <p>Nic. Aplikace je tvořena vrámci bakalářské práce na FIT VUT v Brně. Minimálně během vývoje a dokud to nebude dělat světoborný věci
    nemám v plánu žádné funkce do budoucna zpoplatňovat. To však neznamená, že by se to v dáleké budoucnosti nemuselo změnit.
    Neobávejte se však, funkce které aplikace umí teď, budou zdarma napořád.</p>

    <h2>Jak začít</h2>
    <p>Začněte tím, že se <a href="/register">zaregistrujete</a>. Vytvoří se vám profil se základním nastavením a pár
    jídly pro ukázku funkčnosti, vše si můžete změnit v nastavení aplikace a v seznamu jídel. Vše si proklikejte a vyzkoušejte
    pokud byste měli nějaké dotazy neváhejte se obrátit na email tomikrys@seznam.cz!</p>

{% endblock %}
{% block javascripts %}{% endblock %}