{% extends 'base.html.twig' %}
{% block title %}SimpleMenu.cz{% endblock %}
{% block stylesheets %}
<style>
    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }
    h2, h3, h4 {
        font-size: 2.4em;
    }
    img {
        margin: 15px 15px 25px 15px ;
    }
    p {
        text-align: justify;
        font-size: 1.4em;
    }
    .row {
        margin-bottom: 50px;
    }

    #index a button {
        margin-top: 40px;
    }

    #photo-modal .modal-dialog {
        max-width: 90% !important;
        max-height: 90% !important;
        background-color: white;
        padding-right: 19px;
        padding-left: 19px;
    }
    #photo-modal .modal-body {
        text-align: center;
    }
    #photo-modal img {
        max-width: 95% !important;
        max-height: 80vh !important;
    }
    #photo-modal {
        padding-right: 19px;
        padding-left: 19px;
    }
</style>
{% endblock %}
{% block body %}

    <div id="index">
        <h1 class="text-center">Aplikace pro snadnou tvorbu meníček<br>SimpleMenu.cz</h1>
        <div class="row">
            <div class="col-12 col-lg-4">
                <h2>Tvorba menu snadno</h2>
                <p>Aplikace slouží především <b>restauracím</b>, které se každý týden moří s&nbsp;tvořením týdenních menu.
                    <?--Po importu jídel, které k tvorbě menu používáte stačí jen jednoduše seskládat menu a vygenerovat si ho ve všech formátech,
                    které používáte.--> </p>
                <h2>Rychlý import</h2>
                <p>
                    Můžete využít rychlý automatický <b>import jídel</b>. Jídla jsou rozdělena do kategorií podle typů.
                    Můžete je označit tagy pro snadné vyhledávání. Jídla je možné upravovat přímo v&nbsp;tabulce. Pro úpravu více jídel můžete použít <b>hromadného
                        uložení změn</b>.
                    <?--Do aplikace si naimportujete svá jídla, ty je třeba rozdělit podle typů a příslušně otagovat. Není to nutné, ale
                    při tvorbě menu to pomáhá vyhledávat jednotlivé pokrmy. Poté si sestavíte menu přesunutím jídel do chlívečků. Nyní
                    stačí menu vygenerovat do předem připravené šablony. Tou je dokument ve wordu ve speciálním formátu, který potom
                    aplikace přetvoří do příslušné podoby. Výhodou šablony ve Wordu je jednoduché a uživatelsky přívětivé editování.
                    Nově registrovaní uživatelé mají pár šablon předpřipravených.--></p>
            </div>
            <div class="col-12 col-lg-8">
                <img class="clickable" src="media/stock_laptop_foods.gif" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <img class="clickable" src="media/stock_laptop_foods_dialog.gif" width="100%">
            </div>
            <div class="col-12 col-lg-4">
                <h2>Snadné dávkové změny</h2>
                <p>
                    Můžete využít dávkových úprav k&nbsp;změnění ceny, typu nebo tagů více jídel najednou. Stačí jídla pouze označit
                    a&nbsp;kliknout na tlačítko "Upravit vybrané".
                </p>
                <h2>Intuitivní rozhraní</h2>
                <p>
                    Pro označení více jídel za sebou můžete využít zkratky, kliknout na první jídlo a&nbsp;s&nbsp;podržením
                    klávesy shift na poslední. Jídla v&nbsp;tomto rozsahu budou označena.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <h2>Sestavení menu</h2>
                <p>Menu snadno sestavíte <b>přetažením (drag and drop)</b> do předpřipravené kostry. Jídla, která jste
                    na daný týden použili, se Vám přehledně zvýrazní. Poté již stačí jenom meníčko exportovat do připravených šablon.</p>
                <h2>Šikovný filtr</h2>
                <p>
                    V mnoha jídlech se dá snadno ztratit, proto je připraven <b>jednoduchý filtr</b>, který Vám pomůže se zorientovat.
                </p>
                <div class="d-flex justify-content-center" >
                    <a href="/register"><button type="button" class="btn btn-success btn-lg">Zaregistrujte se!</button></a>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <img class="clickable" src="media/stock_laptop_menu.gif" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <img class="clickable" src="media/stock_laptop_word_comparsion.gif" width="100%">
            </div>
            <div class="col-12 col-lg-4">
                <h2>Jak se tvoří menu?</h2>
                <p>Šablony jsou tvořeny dokumenty <b>.docx (MS Word)</b>, proto je jejich editace a&nbsp;tvorba velmi snadná.
                <br>
                    Při registraci se Vám automaticky naimportují ilustrační šablony. Okamžitě můžete generovat
                    <b>menu ve&nbsp;formátu pro tisk</b>, menu připravené pro import do platformy <b>Zomato</b> +
                    jsou přiložené příklady šablon pro <b>příspěvek na Facebook</b> a html pro webové stránky. Je také
                    připraven export do formátu XML</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Jak začít</h2>
                <p>Začněte tím, že se <b><a href="/register">zaregistrujete</a></b>. Vytvoří se vám profil se základním nastavením a&nbsp;pár
                    jídly pro ukázku funkčnosti, to si můžete samozřejmě změnit v nastavení aplikace a&nbsp;v&nbsp;seznamu jídel. Vše si proklikejte
                    a&nbsp;vyzkoušejte, pokud byste měli nějaké dotazy neváhejte se obrátit na email <b>tomikrys@seznam.cz</b>!</p>
            </div>
            <div class="col">
                <h2>Kolik vás to bude stát</h2>
                <p><b>Nic</b>. Aplikace je tvořena v&nbsp;rámci mé bakalářské práce na <b>fakultě informatiky VUT v&nbsp;Brně</b>.
                    Funkce, které umí teď, budou zdarma napořád.</p>

                <div class="d-flex justify-content-center" >
                    <img class="clickable" style="max-width: 300px; alignment: right" src="media/loga/fit_logo.png" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="photo-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: transparent; border: none;">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img class="clickable" class="align-self-center" src="https://media.giphy.com/media/3o85g3loeiLcF26OZy/giphy.gif">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    $( document ).ready(function() {
        $("img.clickable").click(function () {
            $("#photo-modal img").attr("src", $(this).attr("src"));
            $("#photo-modal").modal("show");
        });
    });
</script>
{% endblock %}