{% extends 'base.html.twig' %}
{% block title %}SimpleMenu.cz{% endblock %}
{% block stylesheets %}
    <style>
        h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }
        h2, h3, h4 {
            font-size: 2.4em;
        }
        img {
            margin: 15px 15px 25px 15px ;
        }
        p {
            text-align: justify;
            font-size: 1.4em;
        }

        #index a button {
            margin-top: 40px;
        }

        #photo-modal .modal-dialog {
            max-width: 90% !important;
            max-height: 90% !important;
            background-color: white;
            padding-right: 19px;
            padding-left: 19px;
        }
        #photo-modal .modal-body {
            text-align: center;
        }
        #photo-modal img {
            max-width: 95% !important;
            max-height: 80vh !important;
        }
        #photo-modal {
            padding-right: 19px;
            padding-left: 19px;
        }

        .container {
            max-width: 1500px !important;
        }
        .logo {
            width: 100%;
        }

        .title {
            font-size:150px;
        }
        h2 {
            font-size: 40px;
        }
        p {
            font-size: 23px;
        }
    </style>
{% endblock %}
{% block body %}

    <div id="index">
        <h1 class="text-center">
            <span class="title">SimpleMenu.cz</span>
            <br>
            Aplikace pro snadnou tvorbu meníček
            <br><br>
        </h1>
        <div class="row">
            <div class="col-5">
                <h2>Tvorba menu snadno</h2>
                <p>Aplikace sloužící především <b>restauracím</b>, které se každý týden moří s&nbsp;tvořením týdenních menu.
                <h2>Rychlý import</h2>
                <p>
                    Je připraven automatický <b>import jídel</b>. Formát každého řádku importu:
                    <code>"Název|Popis&nbsp;jídla|Cena|Typ|Tag|Tag"</code>. Jídla jsou rozdělena do kategorií podle typů.
                    Je možné je označit libovolným počtem tagů pro snadné vyhledávání. Jídla je možné upravovat přímo v&nbsp;tabulce.
                    Pro úpravu více jídel je k dispozici možnost <b>hromadného uložení změn</b>.
            </div>
            <div class="col-7">
                <img class="clickable" src="media/stock_laptop_foods.gif" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <img class="clickable" src="media/stock_laptop_foods_dialog.gif" width="100%">
            </div>
            <div class="col-5">
                <h2>Snadné dávkové změny</h2>
                <p>
                    Jsou připraveny dávkové úpravy pro změnu <b>ceny, typu nebo tagů</b> více jídel najednou. Stačí jídla pouze označit
                    a&nbsp;kliknout na tlačítko "Upravit vybrané".

                </p>
                <h2>Intuitivní rozhraní</h2>
                <p>
                    Je možné všem označeným jídlům buď tagy přidat, nebo odebrat, jsou na to připraveny
                    dva formuláře, které ukazují <b>společné tagy</b> všech označených jídel.
                </p>
                <p>
                    Pro označení více jídel za sebou je možné využít zkratky, je možné kliknout na první jídlo a&nbsp;s&nbsp;podržením
                    klávesy <b>shift</b> na poslední. Jídla v&nbsp;tomto rozsahu budou označena.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h2>Sestavení menu</h2>
                <p>Menu je možné snadno sestavit <b>přetažením (drag and drop)</b> do předpřipravené kostry. Kostru je možné definovat v nastavení aplikace.
                    Jídla, která jsou na daný týden použita, se přehledně zvýrazní. Poté již stačí jenom meníčko exportovat do připravených šablon.</p>
                <h2>Šikovný filtr</h2>
                <p>
                    V mnoha jídlech se dá snadno ztratit, proto je připraven <b>jednoduchý filtr</b>, který Vám pomůže se zorientovat. V jídlech je možné vyhledávat,
                    zobrazit jídla pouze daného typu nebo filtrovat pomocí tagů.
                </p>
            </div>
            <div class="col-7">
                <img class="clickable" src="media/stock_laptop_menu.gif" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <img class="clickable" src="media/stock_laptop_word_comparsion.gif" width="100%">
            </div>
            <div class="col-5">
                <h2>Jak se tvoří menu?</h2>
                <p>Šablony jsou tvořeny dokumenty <b>.docx (MS Word)</b>, proto je jejich editace a&nbsp;tvorba velmi snadná.
                    Stačí pouze nastylovat příslušné značky.
                    <br>
                    Při registraci jsou automaticky přichystány ilustrační šablony. Je tedy možné okamžitě generovat
                    <b>menu ve&nbsp;formátu pro tisk</b>, menu připravené pro import do platformy <b>Zomato</b> +
                    jsou přiložené příklady šablon pro <b>příspěvek na Facebook</b> a html pro webové stránky. Je také
                    připraven export do formátu XML pro autamický import do platformy Zomato.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-5 pr-5">
                <h2>Použité technologie</h2>
                <div class="row mb-0">
                    <div class="col my-auto">
                    </div>
                    <div class="col my-auto">
                        <img class="logo clickable" src="media/loga/html.png">
                    </div>
                    <div class="col my-auto">
                        <img class="logo clickable" src="media/loga/php.png">
                    </div>
                    <div class="col my-auto">
                        <img class="logo clickable" src="media/loga/js.png">
                    </div>
                    <div class="col my-auto">
                        <img class="logo clickable" src="media/loga/jquery.png">
                    </div>
                    <div class="col my-auto">
                        <img class="logo clickable" src="media/loga/bootstrap.png">
                    </div>
                </div>
                <div class="row mb-0" >
                    <div class="col-2 my-auto">
                    </div>
                    <div class="col-2 my-auto">
                        <img class="logo clickable" src="media/loga/symfony.png">
                    </div>
                    <div class="col-3 my-auto">
                        <img class="logo clickable" src="media/loga/phpword.png">
                    </div>
                    <div class="col-3 my-auto">
                        <img class="logo clickable" src="media/loga/dragula.png">
                    </div>
                    <div class="col-2 my-auto">
                        <img class="logo clickable" src="media/loga/bootswatch.png">
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <h2>Autor</h2>
                <p><b>Tomáš Ryšavý</b> (xrysav27) <br>
                    Rok: 2019/2020 <br>
                    Vedoucí práce: <b>prof. Ing. Adam Herout,Ph.D.</b></p>

                <div class="d-flex justify-content-center" >
                    <img class="clickable" style="max-width: 300px; alignment: right" src="media/loga/fit_logo.png" width="100%">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="photo-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: transparent; border: none;">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img class="clickable" class="align-self-center" src="https://media.giphy.com/media/3o85g3loeiLcF26OZy/giphy.gif">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $("img.clickable").click(function () {
                $("#photo-modal img").attr("src", $(this).attr("src"));
                $("#photo-modal").modal("show");
            });
        });
    </script>
{% endblock %}