<?xml version="1.0"?>
<daily_menu_list><daily_menu><date>22.3.1998</date><meal><name>Ku&#x159;ec&#xED; v&#xFD;var</name><price>20</price><description>Poctiv&#xFD; &#x10D;esk&#xFD; v&#xFD;var, bez buj&#xF3;nu</description><highlight>true</highlight></meal><meal><name>Vep&#x159;ov&#xE9; kostky po myslivecku</name><price>99</price><description>Pod&#xE1;van&#xE9; s op&#xE9;kan&#xFD;mi bramborami a tatarkou</description></meal></daily_menu><daily_menu><date>22.3.1998</date><meal><name>Tagliatelle s ku&#x159;ec&#xED;m rag&#x16F;</name><price>99</price><description>Dlouh&#xE9; ploch&#xE9; t&#x11B;stoviny, sypan&#xE9; parmez&#xE1;nem</description><highlight>true</highlight></meal></daily_menu></daily_menu_list>
