{% extends 'base.html.twig' %}
{% block title %}Uživatelská Nastavení{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <h1>Uživatelská nastavení</h1>
    <h2>Změnit heslo</h2>
    <p class="text-danger">todo</p>
    <h2>Změnit vzhled</h2>
    <select class="food_type form-control">
        {% for type in look_types %}
                <option selected="" data-id="{{ food.type.id }}">{{ food.type.name }}</option>
        {% endfor %}
    </select>
    <h2>Odstranit účet</h2>
    <form action="/user/delete_account" method="delete">
        <button class="btn btn-md btn-danger" type="submit">Smazat účet</button>
    </form>
{% endblock %}

{% block javascripts %}
{% endblock %}