{% extends 'skeleton.html.twig' %}

{% block title %}Menu{% endblock %}
{% block stylesheets %}
    <style>
        h3 {
            font-family: cursive;
        }
    </style>{% endblock %}
{% block body %}
    <div id="menu">
        <h1>Menu Padagali</h1>
        {% for day in menu %}
            <div class="day">
                <h3>{{ day.name }}</h3>
                {% for type in day.meals %}
                    <h4>{{ type.name }}</h4>
                    {%  for meal in type.meals %}
                        <p>{{ meal.name }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <a class="word-export btn btn-success" href="javascript:void(0)"> Export as .doc </a>

{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/FileSaver.js"></script>
    <script src="/js/jquery.wordexport.js"></script>
<script>

    jQuery(document).ready(function($) {
        $("a.word-export").click(function(event) {
            //
                $("#menu").wordExport("standa");
        });

        if ({{ generate }}) {
            $("#menu").wordExport("standa");
        }
    });
</script>
{% endblock %}