<footer class="footer mt-auto py-1 bg-dark text-white-50">
    <div class="container text-center">
        <span>Tomáš Ryšavý (<a href="mailto:tomikrys@seznam.cz">tomikrys@seznam.cz</a>, <a href="tel:+420722214225">722214225</a>) © 2020</span>
    </div>
</footer>