<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="main-nav">
    <a class="navbar-brand" href="/">SimpleMenu.cz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/foods">Seznam jídel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menu">Tvorba menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">Historie menu</a>
            </li>
        </ul>

        {% else %}

        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item">
                <a href="/register"><button type="button" class="btn btn-success btn-lg">Zaregistrujte se!</button></a>
            </li>
        </ul>

        {% endif %}

        <style>
            .btn-custom-dropdown {
                background-color: transparent !important;
                box-shadow: none !important;
                border: none;

            }
        </style>

        <span id="cite" class="text-muted mr-3">"Čas jsou peníze..."</span>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PREVIOUS_ADMIN') %}
                {%  if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="nav-link" href="?_switch_user=_exit">Zpět na vlastní účet</a>
                {% endif %}
                <div class="btn-group mr-2">
                    <button class="btn btn-secondary btn-sm dropdown-toggle btn-custom-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Změnit uživatele
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for other_user in all_users.findAll %}
                            {% if app.user.email != other_user.email %}
                                <a class="nav-link" href="/impersonating_user?impersonating_user={{ other_user.email }}">{{ other_user.email }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/settings#import">Import jídel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Nastavení aplikace</a>
                </li>
            </ul>
            {% endif %}
            <div class="btn-group mr-2">
                <button class="btn btn-secondary btn-sm dropdown-toggle btn-custom-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.email }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/user">Upravit profil</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a class="dropdown-item" href="/settings">Nastavení aplikace</a>
                    {% endif %}
                    <a class="dropdown-item" href="/logout">Odlásit se</a>
                </div>
            </div>
        {% else %}
            <span class="navbar-text mr-3">
                <a href="/login">Přihlásit se</a>
            </span>
        {% endif %}
    </div>
</nav>