<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="main-nav">
    <a class="navbar-brand" href="/">Menicka.jednoduse.cz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/foods">Seznam jídel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menu">Tvorba menu</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <span class="text-muted">"Čas jsou peníze..."</span>
            <a class="nav-link" href="/settings">Nastavení</a>
        </form>
    </div>
</nav>